---

- name: restart machine
  command: shutdown -r now "Ansible updates triggered"
  async: 0
  poll: 0
  ignore_errors: true

- name: waiting for server to come back
  local_action: wait_for host={{ inventory_hostname }}
                state=started
  sudo: false
  
- name: Jobs
  file: path=/home/vagrant/input state=directory
  tags:
    - input
- name: output
  file: path=/home/vagrant/output state=directory
  tags:
    - output

# https://trac.ffmpeg.org/wiki/CompilationGuide/Ubuntu
- name: script
  script: master/scripts/script.sh
  tags:
    - script
